services:

  app:
    build:
      context: .
      dockerfile: Dockerfile

    container_name: project-phoneix-backend

    environment:
      - PORT=${PORT}

    ports:
      - '3000:3000'

    volumes:
      - ./src:/app/src
  
  minio:
    image: quay.io/minio/minio:RELEASE.2024-10-29T16-01-48Z
    command: server --console-address ":9001" minio/data
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - 'minio_data:/data'
    environment:
      - MINIO_ROOT_USER=root
      - MINIO_ROOT_PASSWORD=password
      - MINIO_DEFAULT_BUCKETS=app_bucket

  mongo:
    image: mongo
    restart: always

    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password

    volumes:
      - './mongodb_data:/data/db'
      - './mongodb_config:/data/configdb'

  mongo-express:
    image: mongo-express
    restart: always

    ports:
      - 8081:8081

    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_URL: mongodb://root:password@mongo:27017/
      ME_CONFIG_BASICAUTH: false

    depends_on:
      - mongo

volumes:
  mongodb_data:
  minio_data:
  mongodb_config:
    